<div class="thanks"><h2>Thanks!</h2> I'll get back to you ASAP</div>
<form id="form-contact">
	<div><input name="name" placeholder="NAME"/></div>
	<div><input name="email" placeholder="EMAIL"/></div>
	<div><textarea name="message" placeholder="MESSAGE"></textarea></div>
	<div class="btn-wrapper"><button type="submit">SEND</button></div>
</form>
