@font-face 
	font-weight normal
	font-style normal
	font-family 'cordia'
	src url('/assets/fonts/cordiau-webfont.eot')
	src url('/assets/fonts/cordiau-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/cordiau-webfont.woff') format('woff'),
		url('/assets/fonts/cordiau-webfont.ttf') format('truetype'),
		url('/assets/fonts/cordiau-webfont.svg#cordiaupcregular') format('svg')

fontFamily = cordia
