header
	font-size 2em
	text-align center
	line-height 3em
	transform-style preserve-3d
	-ms-perspective perp
	white-space nowrap
	span
		white-space pre
		position relative
		opacity 0
		display inline-block
		&:before
			position absolute
			top 0
			left 0 