@media screen and (max-width:800px)
	#detail 
		.info .desc
			display none
	.scroll
		margin 0 -20px
		&::-webkit-scrollbar
			display none
	.images > div
		margin-left p1
		margin-right 0
		&:last-child
			margin-right p1
